@media (max-width: 1280px){
    .section-1__wrapper{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .section-1__fruits{
        margin: 0 auto;
    }

    .section-1__vegetables{
        margin: 0 auto;
    }

    .organic__img img{
        width: 600px;
    }

    .Products__block__items{
        grid-template-columns: auto auto;
    }

    .Product__block__content__btn{
        display: flex;
        flex-wrap: wrap;
    }

    .Product__block__content img{
        justify-content: center;
    }

    .registration__bg{
        border-radius: 30px;
    }
}

@media (max-width: 1152px){
    .organic__content__clean,
    .organic__content__post{
        display: none;
    }

    .organic__content__clean__text,
    .organic__content__post__text{
        margin-left: auto;
    }

    .organic__content{
        width: 450px;
    }

    .organic__content h1{
        width: 450px;
    }

    .organic__content__1,
    .organic__content__2{
        margin-bottom: 20px;
    }

    .eco-friendly{
        background-size: 100%;
    }

    .eco-friendly__content{
        border-radius: 30px;
        margin: 0 auto;
    }
}

@media (max-width: 1024px){
    .header__nav{
        margin-left: 50px;
    }

    .organic__img img{
        display: none;
    }

    .organic__wrapper{
        text-align: center;
        justify-content: center;
    }

    .testimonial__items{
        grid-template-columns: auto auto;
        padding-bottom: 100px;
    }
}

@media (max-width: 800px){
    .Products__block__items{
        grid-template-columns: auto;
        margin-bottom: 0;
    }

    .Product__block__content{
        text-align: center;
        flex-wrap: wrap;
    }

    .registration__content__right{
        flex-wrap: wrap;
        justify-content: center;
    }

    .registration__btn{
        margin-top: 20px;
    }

    .testimonial__content p{
        width: 700px;
    }

    .Hazelnut{
        margin-bottom: 100px;
    }

    .header__top{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 768px){
    .eco-friendly{
        background-image: none;
    }

    .eco-friendly__content{
        left: 50px;
    }
}

@media (max-width: 640px){
    .header__btn__right{
        margin-left: 0;
    }

    .header__nav{
        margin: 20px 0;
    }

    .section-1{
        display: none;
    }

    .testimonial__content p{
        width: 500px;
    }

    .line{
        width: 80%;
    }

    .eco-friendly__content__text p{
        width: 500px;
    }

    .registration__content{
        flex-wrap: wrap;
        justify-content: center;
    }

    .registration__content__right{
        flex-wrap: nowrap;
    }

    .registration__btn{
        margin-top: 0;
    }

    .registration__content__block input{
        padding: 26px 30px 27px 30px;
    }
    
    .contact__info{
        grid-template-columns: 1fr 1fr 1fr;
        grid-column: 1/3;
    }

    .info__contact-us{
        text-align: start;
    }
}